@inject BlovkChainAppModel app
@inject WalletAppModel wallet
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@wallet.WalletName</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="msgexplorer" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Explorer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mymessages">
                <span class="oi oi-box" aria-hidden="true"></span> My Messages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="msgindex">
                <span class="oi oi-box" aria-hidden="true"></span> Get Index
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sendmessage">
                <span class="oi oi-plus" aria-hidden="true"></span> Send Message
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createkey">
                <span class="oi oi-dollar" aria-hidden="true"></span> Key Generator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setting">
                <span class="oi oi-cog" aria-hidden="true"></span> Setting
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
